.me_2Dcode div span{
    background: url(../../images/sao.png) no-repeat;
    background-size: contain;
    width: 92px;
    height: 92px;
    float: left;
}
.me_2Dcode div span.ali-sao{
    background: url(../../images/sao2.png) no-repeat;
    background-size: contain;
    width: 92px;
    height: 92px;
    float: left;
}
.me_2Dcode div{
    width:360px;
    height:300px;
    margin-left:36%;
    margin-top: 24px;
}
.me_2Dcode div img{
    width:200px;
    height:200px;
}
.me_2Dcode div div{
    width:200px;
    height:60px;
    margin-top:12px;
    background-color: #435f86;
    margin-left:126px;
}
.me_2Dcode div div span{
    background: url(../../images/saomiao.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    float: left;
    margin-left:10px;
    margin-top:10px;
 }
.me_2Dcode div div p{
    height: 24px;
    line-height: 24px;
    color: #fff;
    width: 120px;
    margin-left: 60px;
    padding-top: 6px;
}



.dialog-box .dialog-content-box .dialog-content .pay-result {
    /*padding-left: 100px;*/
    /*padding-top: 70px;*/
    top: 50%;
    position: fixed;
    left: 50%;
    margin-left: -110px;
    margin-top: -45px;
}
.dialog-box .dialog-content-box .dialog-content .pay-result .pay-secceed-icon {
    width: 73px;
    height: 71px;
    background: url("../../images/pay-succeed.png") no-repeat;
}
.dialog-box .dialog-content-box .dialog-content .pay-result .pay-failed-icon {
    width: 58px;
    height: 58px;
    background: url("../../images/pay-failed.png") no-repeat;
    margin-top: 6px;
}

.inside-footer{ width:1000px; height:70px; margin:20px auto 0; overflow:hidden; border-top:1px solid #ebedee; }
.inside-footer .info-link{ text-align:center; margin-top:25px; }
.inside-footer .info-link li{ display:inline-block; color:#989898; }
.inside-footer .info-link li a{ display:inline-block; font-size:12px; font-family:"Microsoft YaHei"; color:#989898; }
.inside-footer .info-link li a:hover{ text-decoration:underline; }



.error-far{
    height: 270px;
    padding-left: 230px;
    width: 800px;
    padding-top:106px;
}
.error-img{
    width: 58px;
    height: 58px;
    background: url("../../images/max-error.png")  58px 58px;
    background-size: 58px 58px ;
    float:left;
}
.error-title,.success-title{
    float:left;
    width:440px;
    min-height:24px;
    line-height:24px;
    margin-left:32px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #555;
    margin-top:6px;
}
.success-title{
    color:#00b534;
}
.error-msg,.success-msg{
    float:left;
    width:440px;
    height:20px;
    margin-left:32px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #999;
    margin-top: 10px;
}
.success-img{
    width: 58px;
    height: 58px;
    background: url("../../images/max-succeed.png")  58px 58px;
    background-size: 58px 58px ;
    float:left;
}
.payResultUrl{
    margin-left:5px;
    color:#f37022;
}
