<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
</head>
<body>
<div class="layui-form" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" th:value="${entity?.id}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" th:value="${entity?.name}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="status" disabled="disabled">
                <option value="0" th:selected="${entity?.status}=='0'">无效</option>
                <option value="1" th:selected="${entity?.status}=='1'">有效</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" th:text="${entity?.remark}" disabled="disabled" autocomplete="on"
                      class="layui-textarea"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-block">
            <input type="text" name="createUserId" th:value="${entity?.createUserId}" readonly="true" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-block">
            <input type="text" name="createTime" th:value="${#dates.format(entity?.createTime, 'yyyy-MM-dd HH:mm:ss')}"
                   readonly="true" autocomplete="on" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改人</label>
        <div class="layui-input-block">
            <input type="text" name="lastUserId" th:value="${entity?.lastUserId}" readonly="true" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-block">
            <input type="text" name="lastModTime"
                   th:value="${#dates.format(entity?.lastModTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="true"
                   autocomplete="on" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限列表</label>
        <div class="layui-input-block">
            <div id="LAY-auth-tree-index"></div>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'jquery', 'role', 'form', 'authtree'], function () {
        var $ = layui.$
            , authtree = layui.authtree
            , form = layui.form;
        $.ajax({
            type: "post"
            , url: '/role/menu/list/datail/' + [[${entity?.id}]]
            , dataType: 'json'
            , success: function (result) {
                // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                authtree.render('#LAY-auth-tree-index', result.data, {
                    inputname: 'authids[]',
                    layfilter: 'lay-check-auth',
                    openall: false
                });
            }
        });
    });
</script>
</body>
</html>