<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
</head>
<body>
<div class="layui-form" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
    <!--<div class="layui-form-item">
        <label class="layui-form-label">任务Id</label>
        <div class="layui-input-block">
            <input type="text" name="id" th:value="${entity?.id}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">任务名称</label>
        <div class="layui-input-block">
            <input type="text" name="jobName" th:value="${entity?.jobName}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任务描述</label>
        <div class="layui-input-block">
            <input type="text" name="jobDesc" th:value="${entity?.jobDesc}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行时间</label>
        <div class="layui-input-block">
            <input type="text" name="jobCron" th:value="${entity?.jobCron}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行状态</label>
        <div class="layui-input-inline">
            <select name="status"  disabled="disabled">
                <option value="S" th:selected="${entity?.status}=='S'">成功</option>
                <option value="E" th:selected="${entity?.status}=='E'">失败</option>
                <option value="Y" th:selected="${entity?.status}=='Y'">执行中</option>
                <option value="Y" th:selected="${entity?.status}=='N'">未执行</option>
                <option value="P" th:selected="${entity?.status}=='P'">暂停</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最后执行时间</label>
        <div class="layui-input-block">
            <input type="text" name="lastRunTime" th:value="${#dates.format(entity?.lastRunTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上一次日志时间</label>
        <div class="layui-input-block">
            <input type="text" name="lastLogTime" th:value="${#dates.format(entity?.lastLogTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-block">
            <input type="text" name="createTime" th:value="${#dates.format(entity?.createTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-block">
            <input type="text" name="createUserId" th:value="${entity?.createUserId}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-block">
            <input type="text" name="lastModTime" th:value="${#dates.format(entity?.lastModTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改人</label>
        <div class="layui-input-block">
            <input type="text" name="lastUserId" th:value="${entity?.lastUserId}" readonly="true" autocomplete="off" class="layui-input"/>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'scheduleJob'], function () {
    });
</script>
</body>
</html>