<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
</head>
<body>
<div class="layui-form" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">公告主题</label>
        <div class="layui-input-block">
            <input type="text" name="subjectName" th:value="${entity?.subjectName}" disabled="disabled" autocomplete="off"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" th:value="${entity?.title}" disabled="disabled" autocomplete="off"
                   class="layui-input"/>
        </div>
    </div>
    <!--  
    <div class="layui-form-item">
        <label class="layui-form-label">公告内容</label>
        <div class="layui-input-block">
        	<textarea rows="3" cols="20" name="content" th:text="${entity?.content}" disabled="disabled"
                   autocomplete="off" class="layui-input"/>
        </div>
    </div>
    -->
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">公告内容</label>
                <div class="layui-input-block">
                    <textarea rows="5" th:text="${entity?.content}" disabled="disabled"
                              class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'bank'], function () {
    });
</script>
</body>
</html>