<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.shop.product.dao.CommentDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.morning.common.service.shop.product.entity.CommentDetail">
        <id column="comment_id" property="commentId"/>
        <result column="product_id" property="productId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="pic_img" property="picImg"/>
        <result column="order_id" property="orderId"/>
        <result column="star" property="star"/>
        <result column="content" property="content"/>
        <result column="good_count" property="goodCount"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id AS commentId, product_id AS productId, user_id AS userId, user_name AS userName, pic_img AS picImg, order_id AS orderId, star, content, good_count AS goodCount, status, type, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>

    <!-- 查找商品列表 -->
    <select id="selectConmmentListPage" resultType="com.morning.common.service.shop.product.dto.ConmmentDetailDTO">
        SELECT
            product_id as productId,
            a.user_id as userId,
            b.user_name as userName,
            b.head_img as headImg,
            star,
            content,
            spec_param_id as specParamId,
            create_time as createTime
        FROM os_comment_detail a left join os_user b on a.user_id = b.user_id
        <where>
            <if test="query.productId != null and query.productId != ''">
                AND product_id = #{query.productId}
            </if>
        </where>
    </select>

</mapper>
