<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="logName" source="spring.application.name"/>
    <springProperty scope="context" name="logDir" source="logging.path"/>
    <springProperty scope="context" name="logLevel" source="logging.level"/>

    <contextName>${logName}</contextName>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{36}-%line : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logDir}/${logName}.log</File>
        <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间-->
            <FileNamePattern>${logDir}/back/${logName}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--只保留最近XX天的日志-->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <!--日志输出编码格式化-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{36}-%line : %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 开发环境. -->
    <springProfile name="dev">
        <root level="${logLevel}">
            <appender-ref ref="consoleLog"/>
        </root>
    </springProfile>

    <!-- 测试环境,生产环境-->
    <springProfile name="test,prod">
        <root level="${logLevel}">
            <appender-ref ref="fileLog"/>
        </root>
    </springProfile>
</configuration>