<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
</head>
<body>
<div class="layui-form layui-form-pane" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
        <div class="layui-form-item">
        <label class="layui-form-label">用户表ID</label>
        <div class="layui-input-block">
            <input type="text" name="userId"  placeholder="请输入用户表ID" autocomplete="on"
                       class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型:1-机构用户;2-商户用户;</label>
        <div class="layui-input-block">
            <input type="text" name="userType"  placeholder="请输入用户类型:1-机构用户;2-商户用户;" autocomplete="on"
                       class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改前原密码</label>
        <div class="layui-input-block">
            <input type="text" name="pwdOld"  placeholder="请输入修改前原密码" autocomplete="on"
                       class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改密码类型:1-修改密码;2-重置密码;3-设置手势密码;</label>
        <div class="layui-input-block">
            <input type="text" name="pwdModifyType"  placeholder="请输入修改密码类型:1-修改密码;2-重置密码;3-设置手势密码;" autocomplete="on"
                       class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="submit" lay-filter="add-submit" id="add-submit" value="提交"/>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'pwdDetail'], function () {
    });
</script>
</body>
</html>