<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
</head>
<body>
<div class="layui-form" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
        <!--<div class="layui-form-item">
        <label class="layui-form-label">主键</label>
        <div class="layui-input-block">
            <input type="text" name="id" th:value="${entity?.id}" disabled="disabled" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户表ID</label>
        <div class="layui-input-block">
            <input type="hidden" name="userId" th:value="${entity?.userId}" disabled="disabled" autocomplete="off" class="layui-input"/>
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">用户编号</label>
        <div class="layui-input-block">
            <input type="text" name="userNo" th:value="${entity?.userNo}" disabled="disabled" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型</label>
        <div class="layui-input-block">
            <select name="userType" disabled="disabled">
                <option value="1" th:selected="${entity?.userType}=='1'">机构用户</option>
                <option value="2" th:selected="${entity?.userType}=='2'">商户用户</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改密码类型</label>
        <div class="layui-input-block">
            <select name="pwdModifyType" disabled="disabled">
                <option value="1" th:selected="${entity?.pwdModifyType}=='1'">修改密码</option>
                <option value="2" th:selected="${entity?.pwdModifyType}=='2'">重置密码</option>
                <option value="2" th:selected="${entity?.pwdModifyType}=='3'">设置手势密码</option>

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-block">
            <input type="text" name="createUserId" th:value="${entity?.createUserId}" disabled="disabled" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-block">
            <input type="text" name="createTime" th:value="${#dates.format(entity?.createTime, 'yyyy-MM-dd HH:mm:ss')}" disabled="disabled" autocomplete="off" class="layui-input"/>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'pwdDetail'], function () {
    });
</script>
</body>
</html>