<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/formSelects-v4.css}" media="all"/>
</head>
<body>
<div class="layui-form layui-form-pane" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名<span style="color:#FF3E96">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required|userNameReg" placeholder="4-20位英文数字下划线，必填" autocomplete="on"
                   class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码<span style="color:#FF3E96">*</span></label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required|passwordReg" placeholder="请输入密码" autocomplete="on"
                   class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名<span style="color:#FF3E96">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="英文或汉字，必填" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="mobile" placeholder="请输入手机号" lay-verify="mobileReg" autocomplete="on"
                   class="layui-input" maxlength="11"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" placeholder="请输入邮箱" lay-verify="emailReq" autocomplete="on"
                   class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数据权限<span style="color:#FF3E96">*</span></label>
        <div class="layui-input-block">
            <shiro:hasAnyRoles name="00000000" >
                <select name="dataPermission" lay-verify="required" lay-filter="dataPermission">
                    <option value=""></option>
                    <option value="0">全部</option>
                    <option value="1">本机构</option>
                    <option value="2" selected="selected">本机构及下属机构</option>
                    <option value="3">本人</option>
                </select>
            </shiro:hasAnyRoles>
            <shiro:lacksRole name="00000000">
                <select name="dataPermission" lay-verify="required">
                    <option value=""></option>
                    <!--  <option value="0">全部</option>-->
                    <!-- <option value="1">本机构</option> -->
                    <option value="2" selected="selected">本机构及下属机构</option>
                    <!-- <option value="3">本人</option> -->
                </select>
            </shiro:lacksRole>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门编号<span style="color:#FF3E96">*</span></label>
        <div class="layui-input-block">
            <!--<select name="orgCode" xm-select="orgCode" xm-select-radio="true" xm-select-search=""></select>-->
            <shiro:hasAnyRoles name="00000000" >
            	<input type="text" name="orgCode" placeholder="请选择部门编号" id="seleteOrgCode"
                   class="layui-input" onfocus= "selectOrganize()" lay-verify="required"/>
            </shiro:hasAnyRoles>
            <shiro:lacksRole name="00000000">
            	<input type="text" name="orgCode" th:value="${oc}" disabled="disabled" autocomplete="on" class="layui-input"/>
            </shiro:lacksRole>          	
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预留信息</label>
        <div class="layui-input-block">
            <input type="text" name="loginReserve" placeholder="请输入预留信息" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">注册来源</label>
        <div class="layui-input-block">
            <select name="registerFrom">
                <option value="0" selected="selected">PC客户端</option>
                <!--<option value="1">Android客户端</option>
                <option value="2">IOS客户端</option>-->
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="submit" lay-filter="add-submit" id="add-submit" value="提交"/>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/modules/tool.js}"></script>
<script th:src="@{/jquery/jquery-1.7.1.min.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        , formSelects: 'formSelects-v4'
    }).use(['index', 'user', 'formSelects'], function () {
        var formSelects = layui.formSelects;

        formSelects.config('orgCode', {
            type: 'post'
            ,searchUrl:'/organize/listTree'
        }, true);
    });
</script>
<script>
    function selectOrganize () {
        layer.open({
            type: 2
            , title: '部门选择'
            , content: '/organize/seleteOrganize'
            , area: ['100%', '100%']
            , btn: ['<i class="layui-icon layui-icon-return"></i>返回']
        });
    }
</script>
</body>
</html>