<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="form-search">
        	<input type="hidden" id="loginUserName" name="loginUserName" th:value="${loginUserName}"/>
        	<input type="hidden" id="loginIsOperate" name="loginIsOperate" th:value="${loginIsOperate}"/>
        	<input type="hidden" id="loginOrgCode" name="loginOrgCode" th:value="${loginOrgCode}"/>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="模糊查询" autocomplete="on" class="layui-input"/>
                    </div>
                </div>
               <!-- <div class="layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" placeholder="请输入" autocomplete="on" class="layui-input"/>
                    </div>
                </div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mobile" placeholder="请输入" autocomplete="on" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="模糊查询" autocomplete="on" class="layui-input"/>
                    </div>
                </div>
                <shiro:hasAnyRoles name="00000000">
	                <div class="layui-inline">
	                    <label class="layui-form-label">部门编号</label>
	                    <div class="layui-input-inline">
	                        <input type="text" name="orgCode" placeholder="请输入" autocomplete="on" class="layui-input"/>
	                    </div>
	                </div>
                </shiro:hasAnyRoles>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value=""></option>
                            <option value="0">冻结</option>
                            <option value="1">正常</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户类型</label>
                    <div class="layui-input-inline">
                        <select name="groupCodesIndex">
                            <option value=""></option>
                            <option value="0">运营</option>
                            <option value="1">分公司</option>
                            <option value="10">一代</option>
                            <option value="11">子代</option>

                        </select>
                    </div>
                </div>
                <!--<div class="layui-inline">
                    <label class="layui-form-label">手机认证</label>
                    <div class="layui-input-inline">
                        <select name="mobileAuthStatus">
                            <option value=""></option>
                            <option value="0">未认证</option>
                            <option value="1">已认证</option>
                        </select>
                    </div>
                </div>-->
                <!--<div class="layui-inline">
                    <label class="layui-form-label">实名认证</label>
                    <div class="layui-input-inline">
                        <select name="realAuthStatus">
                            <option value=""></option>
                            <option value="0">未认证</option>
                            <option value="1">已认证</option>
                        </select>
                    </div>
                </div>-->
               <!-- <div class="layui-inline">
                    <label class="layui-form-label">注册来源</label>
                    <div class="layui-input-inline">
                        <select name="registerFrom">
                            <option value=""></option>
                            <option value="0">PC客户端</option>
                            <option value="1">Android客户端</option>
                            <option value="2">IOS客户端</option>
                        </select>
                    </div>
                </div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">数据权限</label>
                    <div class="layui-input-inline">
                        <select name="dataPermission">
                            <option value=""></option>
                            <option value="0">全部</option>
                            <option value="1">本机构</option>
                            <option value="2">本机构及下属机构</option>
                            <option value="3">本人</option>
                        </select>
                    </div>
                </div>
                <!--<div class="layui-inline">
                    <label class="layui-form-label">创建人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="createUserId" placeholder="请输入" autocomplete="on" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="createTimeStart" name="createTimeStart"
                               placeholder="开始日期YYYYMMDD" type="text"/>
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="createTimeEnd" name="createTimeEnd" placeholder="结束日期YYYYMMDD"
                               type="text"/>
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                </div>-->
               <!-- <div class="layui-inline">
                    <label class="layui-form-label">最后修改人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="lastUserId" placeholder="请输入" autocomplete="on" class="layui-input"/>
                    </div>
                </div>-->
                <!--<div class="layui-inline">
                    <label class="layui-form-label">最后修改时间</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="lastModTimeStart" name="lastModTimeStart"
                               placeholder="开始日期YYYYMMDD" type="text"/>
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="lastModTimeEnd" name="lastModTimeEnd" placeholder="结束日期YYYYMMDD"
                               type="text"/>
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                </div>-->
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit="submit"
                            lay-filter="table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary layuiadmin-btn-admin" data-type="reset">
                        <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>重置
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-btn-group">
                <shiro:hasPermission name="user/add">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="add">
                        <i class="layui-icon layui-icon-add-1"></i>新增
                    </button>
                </shiro:hasPermission>
                <!--<shiro:hasPermission name="user/batchDelete">
                    <button class="layui-btn layui-btn-danger layuiadmin-btn-admin" data-type="batchdel">
                        <i class="layui-icon layui-icon-delete"></i>批量删除
                    </button>
                </shiro:hasPermission>-->
                <shiro:hasPermission name="user/resetpassword">
                    <button class="layui-btn layui-btn-warm layuiadmin-btn-admin" data-type="chgpassword">
                        <i class="layui-icon layui-icon-password"></i>常规密码重置
                    </button>
                </shiro:hasPermission>
                <shiro:hasPermission name="user/role">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="setrole">
                        <i class="layui-icon layui-icon-auz"></i>分配角色
                    </button>
                </shiro:hasPermission>
            </div>

            <table id="table-data" lay-filter="table-operation-filter"></table>
            <script type="text/html" id="table-operation">
                <shiro:hasPermission name="user/detail">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail"><i
                            class="layui-icon layui-icon-about"></i>详情</a>
                </shiro:hasPermission>
                <shiro:hasPermission name="user/edit">
                    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i
                            class="layui-icon layui-icon-edit"></i>修改</a>
                </shiro:hasPermission>
                <shiro:hasPermission name="user/delete">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                            class="layui-icon layui-icon-delete"></i>删除</a>
                </shiro:hasPermission>
            </script>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/modules/tool.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'laydate', 'user'], function () {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#lastLoginTimeStart'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#lastLoginTimeEnd'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#createTimeStart'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#createTimeEnd'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#lastModTimeStart'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#lastModTimeEnd'
            , format: 'yyyyMMdd'
        });
    });
</script>
</body>
</html>

