<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>运营管理系统-畅捷支付</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/style/formSelects-v4.css}" media="all"/>
</head>
<body>
<div class="layui-form" style="padding-top: 20px;margin-left: 10px;margin-right: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" th:value="${entity?.id}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门编号</label>
        <div class="layui-input-block">
            <input type="text" name="code" th:value="${entity?.code}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" th:value="${entity?.name}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级部门编号</label>
        <div class="layui-input-block">
            <input type="text" name="parentCode" th:value="${entity?.parentCode}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <!-- <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sortNo" th:value="${entity?.sortNo}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div> -->
    <div class="layui-form-item">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-block">
            <input type="text" name="createUserId" th:value="${entity?.createUserId}" disabled="disabled"
                   autocomplete="on" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-block">
            <input type="text" name="createTime" th:value="${#dates.format(entity?.createTime, 'yyyy-MM-dd HH:mm:ss')}"
                   disabled="disabled" autocomplete="on" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改人</label>
        <div class="layui-input-block">
            <input type="text" name="lastUserId" th:value="${entity?.lastUserId}" disabled="disabled" autocomplete="on"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-block">
            <input type="text" name="lastModTime"
                   th:value="${#dates.format(entity?.lastModTime, 'yyyy-MM-dd HH:mm:ss')}" disabled="disabled"
                   autocomplete="on" class="layui-input"/>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        , formSelects: 'formSelects-v4'
    }).use(['index', 'organize', 'formSelects'], function () {
        var formSelects = layui.formSelects;

        var selected = [[${entity?.parentCode}]];
        formSelects.config('parentCode', {
            type: 'post'
            , searchUrl: '/organize/listTree'
            , success: function (id, url, searchVal, result) {
                formSelects.value('parentCode', [selected]);
            }
        }, true);
    });
</script>
</body>
</html>