<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.posp.ui.dao.ITableMapper">
    <resultMap id="BaseResultMap" type="com.posp.common.service.user.entyty.DbTableDO">
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR"/>
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        t.TABLE_NAME,c.COMMENTS
        from USER_TABLES t
        join USER_TAB_COMMENTS c on t.TABLE_NAME = c.TABLE_NAME
        <where>
            <if test="tableName != null and tableName != ''">
                AND INSTR(t.TABLE_NAME,#{tableName})>0
            </if>
        </where>
    </select>

    <select id="getByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        t.TABLE_NAME,c.COMMENTS
        from USER_TABLES t
        join USER_TAB_COMMENTS c on t.TABLE_NAME = c.TABLE_NAME
        <where>
            <if test="tableName != null and tableName != ''">
                AND t.TABLE_NAME = #{tableName}
            </if>
        </where>
    </select>
</mapper>